{% extends 'employee/dashboard.html' %}

{% block 'title' %} Employee - Edit Vacancy {% endblock %}
{% block 'emptitle1' %} Edit Vacancy {% endblock %}
{% block 'emptitle2' %} Edit Vacancy {% endblock %}

{% block 'empcontent' %}
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Edit Your Vacancy</h3>
  </div>
  <form action="{% url 'edit-vacancy' vacancy.id %}" method="post">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" value="{{vacancy.title}}" name="t" placeholder="Enter title">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" style="height: 100px" id="description" placeholder="Enter vacancy description" name="d">{{vacancy.description}}</textarea>
      </div>
      <div class="form-group">
        <label for="qualification">Qualification</label>
        <textarea class="form-control" style="height: 100px" id="qualification" name="q" placeholder="Enter qualification">{{vacancy.qualification}}</textarea>
      </div>
      <div class="form-group">
        <label for="experience">Experience</label>
        <textarea class="form-control" style="height: 100px" id="experience" name="e" placeholder="Enter experience">{{vacancy.experience}}</textarea>
      </div>
      <div class="form-group">
        <label for="salary">Salary</label>
        <input type="text" class="form-control" id="salary" value="{{vacancy.salary}}" name="s" placeholder="Enter salary">
      </div>
      <div class="form-group">
        <label for="date">Final date to apply</label>
        <input type="date" class="form-control" id="date" name="dat" value="{{vacancy.final_date| date:'Y-m-d'}}" placeholder="Enter date">
      </div>
      <input type="hidden" name="v" value="{{request.user.id}}">
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Save Vacancy</button>
    </div>
    </div>
  </form>
</div>
<div style="text-align: center; padding: 0 0 12px 0;">
    <a href="{% url 'vacancy' %}" style="text-decoration: none; font-size: 1.2rem;">
        <i class="fas fa-arrow-left"></i>
        Back to Vacancy</a>
</div>
{% endblock %}