{% extends 'user/dashboard.html' %}
{% load static %}
{% block 'title' %} User - View Vacancy {% endblock %}
{% block 'title1' %} View Vacancy {% endblock %}
{% block 'title2' %} View Vacancy {% endblock %}
{% block 'style' %}
    #fixed-message{
        position: fixed;
        top: 8%;
        left: 77%;
        z-index: 10000000;
    }
    #image{
        width: 240px;
        height: 240px;
        margin:auto;
        transition: all ease-in-out 1s;
        animation: blink 1.5s infinite;
    }
    @keyframes blink{
        0%{transform: scale(1.02)}
        50%{transform: scale(1)}
        100%{transform: scale(1.02)}
}
{% endblock %}
{% block 'content' %}
<div class="container">
    <div class="row">
      <div class="card flex-row-reverse">
          <img src="{% static 'img/job.jpg' %}"  alt="afdaf" id="image">
          <div class="card-body" style="margin:auto;">
            <h5 class="card-title" style="font-size: 1.6rem; font-weight: bold; color: red;">{{vacancy.title}}</h5>
            <p class="card-text" style="font-size:1rem; font-style: oblique; color: skyblue">{{vacancy.description}}</p>
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Qualifications: </strong>{{vacancy.qualification}}</li>
                <li class="list-group-item"><strong>Experience: </strong>{{vacancy.experience}}</li>
                <li class="list-group-item"><strong>Salary: </strong>{{vacancy.salary}}</li>
                <li class="list-group-item"><strong>Apply upto: </strong>{{vacancy.final_date}}</li>
                <li class="list-group-item"><strong>Posted by: </strong>{{vacancy.user}}</li>
              </ul>
              <br>
              {% if apply.status is not True %}
                <a href="{% url 'apply' vacancy.id %}" class="btn btn-primary btn-md">Apply Now</a>
              {% else %}
                <a href="#" class="btn btn-success btn-md disabled">You are hired!</a>
              {% endif %}
          </div>
      </div>
    </div>
</div>
<div style="text-align: center; padding: 0 0 12px 0;">
    <a href="{% url 'user-vacancy' %}" style="text-decoration: none; font-size: 1.2rem;">
        <i class="fas fa-arrow-left"></i>
        Back to Vacancy</a>
</div>
<div id="fixed-message">
  {% include 'component/messages.html' %}
</div>
{% endblock %}
